{# templates/author/showAuthor.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Author Details</title>
</head>
<body>

<h2>Author Details</h2>

<p>Author ID: {{ id }}</p>
<p>Here you can display additional details about the author...</p>

</body>
</html>
