{# templates/reclamation/success.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Réclamation envoyée avec succès{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-4 mb-4">Votre réclamation a été envoyée avec succès</h1>
        <p>Nous vous répondrons bientôt. Merci!</p>
    </div>
{% endblock %}
