{% extends 'base.html.twig' %}
{% block body %}

<section class="bg-cover position-relative" style="background:red url({{asset('front/themezhub.net/goodup-live/goodup/assets/img/cover.jpg')}}) no-repeat;" data-overlay="3">
				
				<div class="container">
					<div class="row">
						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
								
						
						
						</div>
					</div>
				</div>
			</section>
            <div class="goodup-dashboard-wrap gray px-4 py-5">
            	<div class="goodup-dashboard-content">
					<div class="dashboard-tlbar d-block mb-5">
						<div class="row">
							<div class="colxl-12 col-lg-12 col-md-12">
								<h1 class="ft-medium">Change Password</h1>
								
							</div>
						</div>
					</div>
					
					<div class="dashboard-widg-bar d-block">
						<div class="row">
							<div class="col-xl-12 col-lg-12 col-md-12">
								<div class="_dashboard_content bg-white rounded mb-4">
									<div class="_dashboard_content_header br-bottom py-3 px-3">
										<div class="_dashboard__header_flex">
											<h4 class="mb-0 ft-medium fs-md"><i class="fa fa-lock me-2 theme-cl fs-sm"></i>Change Password</h4>	
										</div>
									</div>
									
									<div class="_dashboard_content_body py-3 px-3">
										{{ form_start(resetForm) }}
                                        <div class="row submit-form">
											<div class="col-xl-8 col-lg-9 col-md-12 col-sm-12">
												<div class="form-group">
													 
                                                        {{ form_row(resetForm.plainPassword) }}
												</div>
											</div>
										
											<div class="col-xl-12 col-lg-12">
												<div class="form-group">
													    <button type="submit" class="btn theme-bg rounded text-light">Reset password</button>
                                                    </div>
											</div>
											
										</div>
                                         {{ form_end(resetForm) }}
									</div>
								</div>
							</div>
						</div>
							
					</div>
					
				
		
				</div>
            </div>
            {% endblock %}
