{% extends 'base.html.twig' %}

{% block title %}Modifier Votre Reservation{% endblock %}

{% block body %}
    <h1>Modifier Reservation</h1>

    {{ include('reservation/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_reservation_index') }}">Retourner à la liste</a>

    {{ include('reservation/_delete_form.html.twig') }}
{% endblock %}
