{# templates/pass/delete.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Delete Pass{% endblock %}

{% block body %}
    <h1>Delete Pass</h1>

    <p>Are you sure you want to delete this pass?</p>

    {# Your pass delete form goes here #}
    <form action="{{ path('delete_pass', {'id': pass.ID}) }}" method="post">
        <button type="submit">Delete</button>
    </form>

    <a href="{{ path('show_all_passes') }}">Cancel</a>
{% endblock %}