<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Admin-Calendrier {% endblock %}</title>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.min.css" integrity="sha256-uq9PNlMzB+1h01Ij9cx7zeE2OR2pLAfRw3uUUOOPKdA=" crossorigin="anonymous">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <div class="navbar-custom">
                <ul class="list-unstyled topnav-menu float-end mb-0">
    <li class="d-none d-lg-block">
        <a href="{{ path('home') }}" class="nav-link">
            <h4 class="page-title-main">Gestion Uber</h4>
        </a>
    </li>
</ul>

     </div>

     
        {% block body %}{% endblock %}

        <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.min.js" integrity="sha256-DBxkGZLxKsLKhz054qUpBqtotG00r9AELGpSigJujLg=" crossorigin="anonymous"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>