{% extends 'base.html.twig' %}

{% block title %}Nouveau Etablissements{% endblock %}

{% block body %}
    <h1>Créer Un Nouveau Etablissements</h1>

    {{ include('etablissements/_form.html.twig') }}

    <a href="{{ path('app_etablissements_index') }}">Retourner à la liste</a>
{% endblock %}
